@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700');

body {
    color: white;
    margin: 0px;
    font-family: 'Open Sans';
    overflow-x: hidden;

    display: flex;
}

code {
    font-family: monospace serif;
}

#background {
    position: fixed;
    top: 0px;
    left: 400px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

/* --- Sidebar --- */

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    max-width: 400px;
    max-height: 100%;
    text-align: left;
    gap: 0px;
    background-color: #511;

    h1 {
        font-weight: 500;
        border-bottom: solid 2px #ccc;
    }

    ul {
        padding: 0px;
        padding-left: 10px;
        list-style-type: none;
    }

    li {
        font-style: italic;
    }

    a {
        color: #a04;
    }
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 10px;

    img {
        max-height: 150px;
        width: auto;
        border-radius: 20%;
    }

    p {
        font-style: italic;
    }
}

nav {
    background-color: #411;
    padding: 10px;
    margin: 0px;
}

footer {
    margin: 0px;
    padding: 10px;
}

/* --- Main --- */

main {
    margin-left: 400px;
    margin-top: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    align-content: center;

    section h1 {
        padding: 20px;
        padding-top: 40px;
        margin: 0px;
        margin-bottom: 40px;
        border-bottom: solid 2px #fdd;
    }
}

#title {
    background-color: #f33;
    padding-top: 50px;
}

#intro {
    padding: 20px;
    background-color: #533;
}

#skills {
    background-color: #822;
    display: flex;
    flex-direction: column;
    gap: 0px;

    h1 {
        text-align: right;
    }

    div {
        padding: 20px;
        background-color: #933;
        display: flex;
        justify-content: space-between;
    }
}

.skills-icons {
    max-width: 50%;
    display: flex;
    flex-direction: column;

    div {
        display: flex;
        justify-content: start; 
        gap: 10px;

        img {
            max-height: 100px;
            width: auto;
        }
    }
    
}

.skills-content {
    display: flex;
    flex-direction: column;
}

/* --- Visual gap --- */
.gap {
    background-color: #f004;
    height: 200px;
}


/* --- Projects section --- */

#projects {
    background-color: #111;
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin: 0px;

    h2 {
        padding: 20px;
        margin: 0px;
        background-color: #211;
        text-align: center;
    }

    .project-container:nth-child(even) {
        margin: 0px;
        background-color: #311;
        flex-direction: row-reverse;
    }
}

.project-container {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    min-height: 340px;

    transform: translateX(150px);
    opacity: 0;
    animation: slide-up linear forwards; 
    animation-timeline: view();
    animation-range: entry 0% cover 35%;

    img {
        max-height: 300px;
        margin: 20px;
        border-radius: 10px;
    }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateX(150px); 
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.project-info {
    display: flex;
    flex-direction: column;
    padding: 10px;

    a {
        color: #fdd;
    }

    p {
        max-width: 400px;
    }
}

#filler {
    background-color: #211;
    min-height: 200px;
}
